@import 'skeleton.css';

.container h1 {
    text-align: center;
    font-style: italic;
    color: #222;
}

.container .input {
    font-weight: 600;
    margin-right: 0.4em;
}
.container .result {
    margin-left: 1em;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid;
    padding:15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.button-primary {
    -webkit-appearance: none;
}